* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

html, body, .app {
    width: 100dvw;
    height: 100dvh;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

h1 {
    font-size: 30px;
}

hr {
    width: 100%;
}

/************************************ SIDEBAR *****************************************/

.side-bar {
    min-width: 300px;
    padding: 30px 5px 5px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;

    border-right: 1px solid #646464;
    overflow-y: scroll;
}

.note {
    padding: 15px 20px;

    border-radius: .5em;

    cursor: default;
}

.note_header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.note_desc {
    font-size: 16px;
}

/************************************ MAIN *****************************************/

.main {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 30px 20px 0 20px;
}

.main > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}