* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

html, body, .app {
    width: 100dvw;
    height: 100dvh;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

h1 {
    font-size: 30px;
}

hr {
    width: 100%;
}

textarea {
    padding: 5px 10px;
    border-radius: .4em;
    border: 1px solid #818181;
    transition: all .1s ease-out 0s;
    outline: none;

    width: 100%;
    height: 50%;
    resize: none;
}

textarea:focus {    
    box-shadow: 0 0 3px black;
}

/************************************ SIDEBAR *****************************************/

.side-container {
    height: 100%;
    display: inline-flex;
    min-width: 305px;
    width: 305px;
    align-items: stretch;
    flex-shrink: 0;
}

.dragger {
    opacity: 0;
    width: 5px;
    cursor: ew-resize;
}

.side-bar {
    width: 100%;
    padding: 30px 5px 5px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;

    border-right: 1px solid #646464;
    overflow-y: scroll;
}

.note {
    padding: 15px 20px;

    border-radius: .5em;

    cursor: default;
}

.note_header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.note_desc {
    font-size: 16px;
}

/************************************ MAIN *****************************************/

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 30px 20px 0 20px;
}

.main > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.buttons-line {
    display: flex;
    gap: 15px;
}